[Desktop Entry]
Name=Typora
Comment=Markdown reading & writing app.
GenericName=Markdown Editor
Exec=/opt/Typora/Typora %U
Icon=/opt/Typora/icon-typora.png
Type=Application
StartupNotify=true
Categories=Office;WordProcessor;
MimeType=text/markdown;text/x-markdown;

